<html>
<head>
  <link rel="stylesheet" href="index.css">
</head>
<body>
  <div id="container">
    <div id="app">
      <div id="overlay" v-if="busy">
        <div class="loader loader--style6" title="Loading">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
          <rect x="0" y="13" width="4" height="5" fill="#333">
            <animate attributeName="height" attributeType="XML"
            values="5;21;5" 
            begin="0s" dur="0.6s" repeatCount="indefinite" />
            <animate attributeName="y" attributeType="XML"
            values="13; 5; 13"
            begin="0s" dur="0.6s" repeatCount="indefinite" />
          </rect>
          <rect x="10" y="13" width="4" height="5" fill="#333">
            <animate attributeName="height" attributeType="XML"
            values="5;21;5" 
            begin="0.15s" dur="0.6s" repeatCount="indefinite" />
            <animate attributeName="y" attributeType="XML"
            values="13; 5; 13"
            begin="0.15s" dur="0.6s" repeatCount="indefinite" />
          </rect>
          <rect x="20" y="13" width="4" height="5" fill="#333">
            <animate attributeName="height" attributeType="XML"
            values="5;21;5" 
            begin="0.3s" dur="0.6s" repeatCount="indefinite" />
            <animate attributeName="y" attributeType="XML"
            values="13; 5; 13"
            begin="0.3s" dur="0.6s" repeatCount="indefinite" />
          </rect>
        </svg>
      </div>
    </div>
    <div class="header">
      <h3>Crypto Order Book Aggregator</h3>
      <label>Base Currency</label>
      <select v-model="baseCurrency" v-on:change="baseCurrencyChanged">
        <option v-for="currency in baseCurrencies">{{ currency }}</option>
      </select>
      <label>Market Currency</label>
      <select v-model="marketCurrency" v-on:change="marketCurrencyChanged">
        <option v-for="currency in marketCurrencies">{{ currency }}</option>
      </select>
      <label>Price Tier Size</label>
      <select v-model="tierSize" v-on:change="tierSizeChanged">
        <option v-for="tierSize in stats.tierSizes">{{ tierSize }}</option>
      </select>
    </div>
    <div class="left-column">
      <div class="chart-header-spacer"></div>
      <div id="asks-book" class="order-book">
        <header>Asks</header>
        <div class="scroll">
          <table>
            <thead>
              <tr>
                <td class="right-align">Rate</td>
                <td class="right-align">Volume</td>
                <td class="center-align">Exchange</td>
              </tr>
            </thead>
            <tbody>
              <tr v-for="order in allAsks">
                <td class="right-align">{{ order.rate }}</td>
                <td class="right-align">{{ order.quantity }}</td>
                <td class="center-align">{{ order.exchange }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div id="bids-book" class="order-book">
        <header>Bids</header>
        <div class="scroll">
          <table>
            <thead>
              <tr>
                <td class="right-align">Rate</td>
                <td class="right-align">Volume</td>
                <td class="center-align">Exchange</td>
              </tr>
            </thead>
            <tbody>
              <tr v-for="order in allBids">
                <td class="right-align">{{ order.rate }}</td>
                <td class="right-align">{{ order.quantity }}</td>
                <td class="center-align">{{ order.exchange }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="charts">
    <div class="chart-header-spacer"></div>
    <div class="chart-container">
      <canvas id="asksChart"></canvas>
    </div>
    <div class="chart-container">
      <canvas id="bidsChart"></canvas>
    </div>
  </div>
</div>
<script type="text/javascript" src="dist/main.js"></script>
</body>
</html>