html, body {
  background-color: #222;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
}

#app {
  border-bottom: 1px solid #555;
}

#overlay {
  align-items: center;
  justify-content: center;
  background-color: #333;
  display: flex;
  height: 100%;
  opacity: .7;
  position: absolute;
  width: 100%;
  z-index: 999;
}

svg path,
svg rect{
  fill: #00ACC1;
}

.header {
  align-items: center;
  border-bottom: 1px solid #555;
  color: #aaa;
  display: flex;
  height: 6vh;
  position: fixed;
  min-height: 42px;
  width: 100%;
  z-index: 99;
}

.header > h3 {
  color: #00ACC1;
  font-size: .9em;
  font-weight: 400;
  margin-left: 1em;
  width: 30%;
}

.header > label {
  font-size: .9em;
  margin: 0 1em 0 2em
}

.header > select {
  border: 1px solid #AAA;
  background-color: #222;
  font-size: .9em;
  color: #00ACC1;
  margin-top: 3px;
}

.charts {
  margin: 0 0 0 30%;
  position: absolute;
  top: 0;
  width: 70%;
}

.chart-container {
  border-bottom: 1px solid #AAA;
  border-left: 1px solid #555;
  height: 47vh;
}

.chart-header-spacer {
  height: 6vh;
  min-height: 42px;
}

.left-column {
  width: 30%;
}

.order-book {
  border-bottom: 1px solid #aaa;
  height: 47vh;
  overflow: scroll;
  right: 0;
  width: 100%;
}

.order-book > header {
  color: #bbb;
  display: block;
  font-size: 1.1em;
  text-align: center;
}

.order-book > .scroll {
  height: 100%;
  overflow-y: scroll;
}

.order-book table {
  color: #aaa;
  height: 100%;
  width: 100%;
}

.order-book table td {
  border-bottom: 1px solid #444;
}

.order-book thead td {
  color: #aaa;
}

.order-book tbody td {
  font-size: .8em;
}

.order-book table tr {
  height: 1.5em;
}

td.center-align {
  text-align: center;
}

td.right-align {
  text-align: right;
}